################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JackIsBack/obj
/JackIsBack/.vs/JackIsBack/v16
