################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JackIsBack/obj
/JackIsBack/.vs/JackIsBack/v16
/JackIsBack/.vs/JackIsBack/DesignTimeBuild
/JackIsBack/bin/Debug/netstandard2.0
/JackIsBack.Console/obj
/JackIsBack.Console/bin/Debug/netcoreapp3.1
/JackIsBack/.vs/JackIsBack/config
/JackIsBack.Common/obj
/JackIsBack.Common/bin/Debug/netstandard2.0
/JackIsBack.Common
