<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      
        akka {
          loglevel = INFO 
          
          loggers = ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]

          actor {
            provider = cluster
            
            debug {
              receive = on
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
            }
            deployment {
              /TotalNumberOfTweetsActor {
                router = round-robin-group
                routees.paths = ["/users/TotalNumberOfTweetsActor"]
                nr-of-instances = 2
                cluster {
                  enabled = on
                  max-nr-of-instances-per-node = 1
                }
              }
              
              /TweetStatisticsActor {
                router = round-robin-group
                routees.paths = ["/users/TweetStatisticsActor"]
                nr-of-instances = 1
                cluster {
                  enabled = on
                  max-nr-of-instances-per-node = 1
                }
              }
            
              /TweetAverageActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
           
              /TopEmojisUsedActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
            
              /PercentOfTweetsContainingEmojisActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
            
              /TopHashTagsActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
            
              /PercentOfTweetsWithUrlActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
            
              /PercentOfTweetsWithPhotoUrlActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
            
              /TopDomainsActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
            
            }
          }
          
          remote {
            
            dot-netty.tcp {
              transport-class = "Akka.Remote.Transport.DotNetty.TcpTransport, Akka.Remote"
              applied-adapters = []
              transport-protocol = tcp
              #will be populated with a dynamic host-name at runtime if left uncommented
              #public-hostname = "POPULATE STATIC IP HERE"
              hostname = "127.0.0.1"
              port = 0
            }
          }
          
          cluster {
            seed-nodes = ["akka.tcp://TwitterStatisticsActorSystem@127.0.0.1:8081"]
          }
          
        }      
      
      ]]>
    </hocon>
  </akka>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

</configuration>