<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
       
         akka {
         
          loglevel = DEBUG

          actor {
            provider = cluster
            debug {
              receive = on
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
            }
            deployment {
            
             /MainActor {
                router = round-robin-pool
                
                resizer {
                  enabled = on
                  lower-bound = 20
                  upper-bound = 50
                  
                  #advanced settings
                  messages-per-resize = 10
                  rampup-rate = 0.2
                  backoff-rate = 0.1
                  pressure-threshold = 1
                  backoff-threshold = 0.3
                }
             }
             
             /TotalNumberOfTweetsActor {
                router = round-robin-pool
                
                resizer {
                  enabled = on
                  lower-bound = 5
                  upper-bound = 10
                  
                  #advanced settings
                  messages-per-resize = 10
                  rampup-rate = 0.2
                  backoff-rate = 0.1
                  pressure-threshold = 1
                  backoff-threshold = 0.3
                }
             }
             
             /TweetStatisticsActor {
                router = round-robin-pool
                
                resizer {
                  enabled = on
                  lower-bound = 5
                  upper-bound = 10
                  
                  #advanced settings
                  messages-per-resize = 10
                  rampup-rate = 0.2
                  backoff-rate = 0.1
                  pressure-threshold = 1
                  backoff-threshold = 0.3
                }
             }
             
           
              /TopEmojisUsedActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
            
              /PercentOfTweetsContainingEmojisActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
            
              /TopHashTagsActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
            
              /PercentOfTweetsWithUrlActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
            
              /PercentOfTweetsWithPhotoUrlActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
            
              /TopDomainsActor {
                router = round-robin-pool
                nr-of-instances = 2
              }
              
            }
          
          cluster {
             seed-nodes = ["akka.tcp://TwitterStatisticsActorSystem@127.0.0.1:8081"]
          }

          remote {
            helios.tcp {
  	          transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
  	          transport-protocol = tcp
  	          port = 0
  	          hostname = 127.0.0.1
            }
          }
        }      
      
      ]]>
    </hocon>
  </akka>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

</configuration>